{% extends "base.html" %} {% block content %}

<h1 class="title">Welcome, {{ name }}!</h1>
<h2 class="subtitle">please find your assigned bill groups below</h2>

<table>
  <tr>
    <th>Bill ID</th>
    <th>Bill Item</th>
  </tr>
  {% for bill_item in bill_items %}
  <tr>
    <td>{{ bill_group.id }}</td>
    <td>{{ bill_item.bill_item }}</td>
  </tr>
  {% endfor %}
</table>
<h2>Add a new bill item</h2>
<form method="post">
  <input type="text" name="bill_item" />
  <input type="submit" value="Submit" />
</form>
{% endblock %}
